* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Recursive", sans-serif;
    background: #070640;
    color: #f9f9ff;
}
.fa-emoji {
    color: rgb(255, 238, 0);
}
.button {
    text-decoration: none;
    border: none;
    background: none;
}
